.terem {
    text-align: end;
    font-weight: bold;
}
.tantargy {
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.tanar {
    text-align: end;
}
th {
    text-align: center;
}